* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    height:99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #260F4A;
}
.container {
    height:250px;
    margin:auto;
    /* background-color: red; */
    padding:10px;
}
.one,
.two {
    width:600px;
    max-width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form {
    text-align: center  ;
}
[type="submit"] {
    width: 200px;
    max-width:60%;
    margin:auto;
    border:none;
    padding:20px;
    background-color: white;
    border-radius: 15px;
    margin-top:80px;
    cursor: pointer;
}
[type="submit"] a {
    text-decoration: none;
    width: 200px;
    max-width:60%;
    margin:auto;
    border:none;
    padding:20px;
    background-color: white;
    border-radius: 15px;
    margin-top:80px;
    cursor: pointer;
    
}
.one input,
.two input {
    width: 50%;
    border:none;
    outline :none;
    padding:10px;
    color:#4D455D;
    font-weight: bold;
    border-radius: 10px;
    font-size: 10px;    
}
.one label ,
.two label {
    background-color: #7FE345;
    padding:5px;
    width:30%;
    border-radius: 20px;

}
.two {
    margin-top:30px;
}
.one input:focus::placeholder,
.two input:focus::placeholder {
    color:transparent
}
@media(min-width:576px){
    .one input,
    .two input {
        width: 35%;
        border:none;
        outline :none;
        padding:10px;
        color:#4D455D;
        font-weight: bold;
        border-radius: 10px;
        font-size: 14px;    
    }
    .one label ,
.two label {
    background-color: #7FE345;
    padding:10px;
    width:35%;
    border-radius: 20px;

}
}