* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.container{
	margin-left: 15px;
	margin-right: 15px;
}


/*Smalldevices(landscapephones,576pxandup)*/
@media(min-width:576px){
	.container{
		width: 520px;
		margin-left: auto;
		margin-right: auto;
	}
	section .container > p 
	{
		font-size: 30px;
	}
	section .container div button
	{
		padding: 8px 25px;
		font-size:18px;
	}

}
/*Mediumdevices(tablets,768pxandup)*/
@media(min-width:768px){
	.container{
		width: 720px;
	}
	section .container .change
	{
		font-size: 30px;
	}
}
/*Largedevices(lap,992pxandup)*/
@media(min-width:992px){
	.container{
		width: 930px;
	}
}
/*Extralargedevices(largedesktops,1200pxandup)*/
@media(min-width:1200px){
	.container{
		width: 1140px;
	}
}
@media(min-width:1400px){
	.container{
		width: 1340px;
	}
}




