* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
body {
	background-color: #181D31;
}
.container{
	margin-left: 15px;
	margin-right: 15px;	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;

}
/* main content */
article {
	background-color: #000000;
	margin-top:30px;
	border-radius: 10px;
	padding:10px;
	max-width:330px;
	min-width:200px;
	padding: 20px 15px;

}
article .content {
	text-align: justify;
	direction: rtl;
}
article .content p {
	color:#eee;
	font-weight: bold;
	margin-bottom: 10px;
}
article .content small {
	color:#B2B2B2; 	 
}